<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
	<appSettings>
		
		<add key="AccessEpcPerCount" value="40" />
		<add key="RejectEpcPerCount" value="3" />
		<add key="TimeHoldEpcPerSec" value="2" />
		<add key="TokenApi" value="oHChKSNSvKQYmZTm/+jAHwJJLuGBkXaB6NKJ7TWKm6UzIH7sgxBhYAMRGHbw3gSnu1gk7L04daly7J3oE5LgCYaeqXz6uVNv8h1FeeHN7huWJGk/NYGHWkkWrG/CggCUAFxbMimb2Uol94/SvueIz8MUuk2NkdDih4JZfTgSr9E=" />
		<!--<add key="TokenApi" value="RajX5cI2GLcKJYGjewXhXffYheNfG6465y/Y2H0O4/ZWUKTkh7XiiAdka1eABgvRqNES78+8ftdKDZg/fn/FQ0t9AP5+NJ3aD28U4Mi1ccf/kf7lckrWsWbdt7wUfKNTKoMvarC4mVUMDUTglVxIAzOlti7PCY2JO+KE8bPhmgM=" />-->
		
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
